<div>
  <div class="snackbar-icon">
    <button mat-mini-fab color="{{ data.snackBarType }}">
      <mat-icon fontIcon="{{ snackBarTypeIcon[data.snackBarType] }}"></mat-icon>
    </button>
  </div>
  <h1 matSnackBarLabel>{{ data.snackBarType | uppercase }}</h1>
  <div>
    <p>
      {{ data.snackBarType + " at " + (date | date : "short") + ": "
      }}{{ data.message }}
    </p>
  </div>
  <div matSnackBarActions>
    <button mat-raised-button (click)="onDismiss()">Dismiss</button>
    <button
      mat-raised-button
      matSnackBarAction
      *ngIf="data.action"
      (click)="onAction()"
    >
      {{ data.action }}
    </button>
  </div>
</div>
